<div class="card h-100">
    <div th:if="${sweet.discount > 0}" class="badge bg-dark text-white position-absolute"
         style="top: 0.5rem; right: 0.5rem">Sale
    </div>
    <img class="card-img-top" th:src="${sweet.imageLink}" height="200" alt="Image is unavailable"/>
    <div class="card-body p-4">
        <div class="text-center">
            <h4 class="fw-bolder" th:text="${sweet.sweetName}"></h4>

            <div th:if="${sweet.discount > 0}">
                <div class="row">
                    <br><h4 th:text="'Discount: ' + ${sweet.discount} + '%'"></h4>
                    <div class="col  text-end">
                        <h4 class="text-danger"><s th:text="${sweet.price} + '₪' "></s></h4>
                    </div>
                    <div class="col  text-start">
                        <h3 th:text="${sweet.getDiscountedPrice()} + '₪'"></h3>
                    </div>
                </div>
            </div>

            <div th:unless="${sweet.discount > 0}">
                <div class="row">

                    <h4 th:text="${sweet.price} + '₪'"></h4>
                    <h3><br></h3>
                </div>

            </div>


        </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <form class="d-flex justify-content-center" action="#" th:action="@{/cart/addToCart}"
              method="post">
            <input type="hidden" name="id" th:value="${sweet.id}">
            <input type="hidden" name="source" th:value="web">
            <button class="btn btn-outline-dark" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Add to Cart
            </button>
        </form>
    </div>
</div>
