<div class="row">
    <div class="form-group col-md-6">
        <label for="sweetName" class="col-form-label">Sweet Name</label>
        <input type="text" th:field="*{sweetName}" class="form-control" id="sweetName" placeholder="Name">
        <div th:if="${#fields.hasErrors('sweetName')}" th:errors="*{sweetName}" class="text-danger"></div>
    </div>
    <div class="form-group col-md-6">
        <label for="imageLink" class="col-form-label">Link</label>
        <input type="text" th:field="*{imageLink}" class="form-control" id="imageLink"
               placeholder="Image Link">
        <div th:if="${#fields.hasErrors('imageLink')}" th:errors="*{imageLink}" class="text-danger"></div>
    </div>
    <div class="form-group col-md-6">
        <label for="quantity" class="col-form-label">Quantity</label>
        <input type="number" th:field="*{quantity}" class="form-control" id="quantity"
               placeholder="Quantity">
        <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></div>
    </div>
    <div class="form-group col-md-6">
        <label for="price" class="col-form-label">Price</label>
        <input type="number" step="0.1" th:field="*{price}" class="form-control" id="price"
               placeholder="Price">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></div>
    </div>
    <div class="form-group col-md-6">
        <label for="discount" class="col-form-label">Discount</label>
        <input type="number" step="0.1" th:field="*{discount}" class="form-control" id="discount"
               placeholder="Discount">
        <div th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="text-danger"></div>
    </div>

</div>