<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,=">

    <title>Title</title>
</head>
<body>

<div th:insert="fragments/navbar.html"></div>

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>

                <form action="#" th:action="@{/cart/emptyCart}" method="post">
                <button type="submit" class="btn">
                   Remove All
                </button>
                </form>

                <div th:each="sweet:${allSweetsInCart}" class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img th:src="${sweet.imageLink}" class="img-fluid rounded-3" alt="Image is unavailable">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2" th:text="${sweet.sweetName}"></p>
                                <p>
                                    <span class="text-muted" th:text="'Price ' +${sweet.price}+ '₪'"></span>
                                    <span class="text-muted" th:text="'Discount ' + ${sweet.discount}+ '%'"></span>
                                </p>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                                <form action="#" th:action="@{/cart/update}" th:object="${sweet}" method="post">

                                    <button class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <input id="form1" min="0" name="quantity" th:value="${cart.getItemAmount(sweet.id)}"
                                           type="number"
                                           class="form-control form-control-sm"/>
                                    <button class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input type="hidden" name="id" th:value="${sweet.id}">

                                    <button type="submit" class="btn">
                                        <i class="fas fa-sync fa-lg text-primary"></i>
                                    </button>
                                </form>
                            </div>


                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0"
                                    th:text="${#numbers.formatDecimal(sweet.price - sweet.price * (sweet.discount / 100), 0, 2)}+ '₪'"></h5>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <form action="#" th:action="@{/cart/delete}" th:object="${sweet}" method="post">
                                    <input type="hidden" name="id" th:value="${sweet.id}">
                                    <button type="submit" class="btn">
                                        <i class="fas fa-trash fa-lg text-danger"></i>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="form-outline flex-fill">
                            <input type="text" id="form2" class="form-control form-control-lg"
                                   placeholder="Coupons feature is not available for now"
                            />
                            <label class="form-label" for="form1">Discount code</label>
                        </div>
                        <button type="button" class="btn btn-outline-warning btn-lg ms-3" disabled>Apply</button>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-warning btn-block btn-lg" type="button" href="/cart/checkout" role="button"
                           th:text="'Proceed to Pay ' + ${cart.getTotalPrice()} + '₪'"></a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>