<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/header.html"></div>
<body>

<div th:insert="fragments/navbar.html"></div>


<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="mb-3"><a href="/" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0"
                                           th:text="'You have ' + ${cart.getNumOfUniqueItems()} + ' items in your cart'"></p>
                                    </div>
                                </div>
                                <div class="card mb-3" th:each="sweet:${allSweetsInCart}">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="ms-3">
                                                    <h5 th:text="${sweet.sweetName}"></h5>
                                                    <p class="small mb-0"
                                                       th:text="${#numbers.formatDecimal(sweet.price - sweet.price * (sweet.discount / 100), 0, 2)}+ '₪'"></p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;">
                                                    <h5 class="fw-normal mb-0"
                                                        th:text="${cart.getItemAmount(sweet.id)}"></h5>
                                                </div>
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0"
                                                        th:text="${#numbers.formatDecimal((sweet.price - sweet.price * (sweet.discount / 100) ) * cart.getItemAmount(sweet.id), 0, 2)}+ '₪'"></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Card details</h5>
                                        </div>
                                        <p class="small mb-2">Acceptable card types</p>
                                        <a class="text-white"><i
                                                class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                                        <a class="text-white"><i
                                                class="fab fa-cc-visa fa-2x me-2"></i></a>
                                        <a class="text-white"><i
                                                class="fab fa-cc-amex fa-2x me-2"></i></a>
                                        <a class="text-white"><i
                                                class="fab fa-cc-paypal fa-2x"></i></a>

                                        <form class="mt-4">
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeName" class="form-control form-control-lg"
                                                       size="17"
                                                       placeholder="Cardholder's Name"/>
                                                <label class="form-label" for="typeName">Cardholder's Name</label>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text" id="typeText1" class="form-control form-control-lg"
                                                       size="17"
                                                       placeholder="1234 5678 9012 3457" minlength="19" maxlength="19"/>
                                                <label class="form-label" for="typeText1">Card Number</label>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="text" id="typeExp1"
                                                               class="form-control form-control-lg"
                                                               placeholder="MM/YYYY" size="7" minlength="7"
                                                               maxlength="7"/>
                                                        <label class="form-label" for="typeExp1">Expiration</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="password" id="typeText"
                                                               class="form-control form-control-lg"
                                                               placeholder="&#9679;&#9679;&#9679;" size="1"
                                                               minlength="3" maxlength="3"/>
                                                        <label class="form-label" for="typeText">Cvv</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Subtotal</p>
                                            <p class="mb-2"
                                               th:text="${#numbers.formatDecimal(cart.getTotalPrice(), 0, 2)} + '₪'"></p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Shipping</p>
                                            <p class="mb-2">0.0₪</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total(Incl. taxes)</p>
                                            <p class="mb-2"
                                               th:text="${#numbers.formatDecimal(cart.getTotalPrice(), 0, 2)} + '₪'"></p>
                                        </div>

                                        <!--                                        <a href="/complete" type="button" class="btn btn-light btn-block btn-lg">-->
                                        <form action="#" th:action="@{/complete}" method="post">

                                            <div class="d-flex justify-content-between">
                                                <button type="submit" class="btn btn-light btn-block btn-lg">

                                                    <span>Checkout <i
                                                            class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>