<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/header.html"></div>

<body>

<div class="container">
    <br>

    <a class="btn btn-primary" href="/admin/addsweet" role="button">Manage Sweets</a>

    <a class="btn btn-danger" href="/logout" role="button">Log Out</a>



    <div th:switch="${payments.size()}" class="col-md-6">
        <h2 th:case="0">No payments yet!</h2>
        <div th:case="*">
            <h2 class="my-5">Payments</h2>
            <p th:text="'Total amount: ' + ${totalAmount}+ '₪'"></p>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>#id</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Buyer's name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment : ${payments}">
                    <td th:text="${payment.id}"></td>
                    <td th:text="${payment.datetime}"></td>
                    <td th:text="${payment.amount} + '₪'"></td>
                    <td th:text="${payment.username}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>