<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/header.html"></div>

<body>

<div class="container">

    <a class="btn btn-primary" href="/admin" role="button">Cancel Changes</a>

    <h2 class="mb-5">Update Sweet</h2>


    <div class="col-md-6">
        <form action="#" th:action="@{/admin/update/{id}(id=${sweet.id})}" th:object="${sweet}" method="post">
            <div th:insert="fragments/sweet-form.html"></div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" value="Update Sweet">
                </div>
            </div>
        </form>

    </div>
</body>
</html>